@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import './settings';
@import './sidebar';
@import './chatRoom.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  outline: none;
}

.App {
  height: 100vh;
  background: #FCFDFF;
  overflow: hidden;
}

.main-container {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.page-layout {
  display: flex;
}

a {
  color: initial;
  text-decoration: none;
}

ul {
  list-style: none;
}

.label {
  font-size: 14px;
  text-transform: uppercase;
  color: lightslategrey;
}