.ion-android-add{
    background:none;
    border:none;
    font-size:1.3em;
}

.ion-minus-circled {
    background:none;
    border:none;
}

.room-choice {
    list-style:none;
}

.room-choice button {
    background:none;
    border:none;
    outline:none;
    cursor: pointer;
    font-size:1.3em;
}

#new-room-input {
    font-size:14px;
    outline:none;
    padding:5px;
}

#active-room {
    color:white;
}

.message-box {
    margin-left:20%
}